.login {
  float: right;
  margin-top: 8px;

  .login-link-text {
    color: #999;
  }
}


input.g-real-time-edit,
textarea.g-real-time-edit {
  border-color: transparent;
  box-shadow: none;
//  margin-top: -5px;
//  color: #999;

  &:focus, &:hover {
    border-color: #ccc;
    color: #666;
  }
}