
<div class="new-word">

    <h4>新建单词/短语</h4> <hr>
    <form ng-submit="action.add()" class="form-horizontal">
        <div class="control-group">
            <label class="control-label">单词</label>
            <div class="controls">
                <input class="span2" type="text" placeholder="new word" ng-model="model.newWord.name" ng-required>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" ng-click="model.newWord.meanings.push({ sentences: []})">释义</label>
            <div class="controls">
                <!-- 词义 -->
                <div ng-repeat="meaning in model.newWord.meanings">
                    <input class="span2" type="text" placeholder="含义" ng-model="meaning.desc" ng-required>
                    <select m-selectize class="span1" ng-model="meaning.type">
                        <option value="名词">名词</option>
                        <option value="形容词">形容词</option>
                        <option value="动词">动词</option>
                        <option value="副词">副词</option>
                        <option value="介词">介词</option>
                        <option value="冠词">冠词</option>
                        <option value="连词">连词</option>
                        <option value="感叹词">感叹词</option>
                    </select>

                    <span ng-click="meaning.sentences.push({})">添加例句</span>
                    <span ng-click="model.newWord.meanings.splice($index, 1 )">X</span>
                    <div ng-repeat="sent in meaning.sentences">
                        <input type="text" placeholder="例句" ng-model="sent.name" ng-required>
                        <input type="text" placeholder="中文翻译" ng-model="sent.translate">
                        <span ng-click="meaning.sentences.splice($index, 1 )">X</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">音标</label>
            <div class="controls">
                <input type="text" class="span2" placeholder="音标" ng-model="model.newWord.phonetic" ng-required>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">标签</label>
            <div class="controls">
                <select class="new-word-tags" options="model.options" multiple m-selectize ng-model="model.newWord.tags"></select>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">其他备注</label>
            <div class="controls">
                <textarea placeholder="音标" ng-model="model.newWord.desc"></textarea>
            </div>
        </div>

        <div class="control-group">
            <div class="controls">
                <button type="submit" class="btn">添加</button>
            </div>
        </div>
    </form>
</div>